@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    /* --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%; */
    --primary: 291 90% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --success: 92 78% 86%;
    --success-foreground: 107 100% 8%;
    --info: 201 100% 86%;
    --info-foreground: 217 100% 20%;
    --warning: 46 100% 78%;
    --warning-foreground: 32 100% 19%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 291 90%, 39%;
    --radius: 0.5rem;
    --gold: 37 96% 61%;
    --gold-secondary-text: 36 61% 24%;

    --scrollbar-bg: #e2e8f0;
    --scrollbar-color: #cbd5e1;
    --scrollbar-hover-color: #94a3b8;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    /* --primary: 217.2 91.2% 59.8%; -- not this */
    /* --primary: 41 42% 67%;
    --primary-foreground: 222.2 47.4% 11.2%; */
    --primary: 258 100% 87%;
    --primary-foreground: 259 58% 28%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --success: 92 78% 86%;
    --success-foreground: 102 51% 14%;
    --info: 209 63% 22%;
    --info-foreground: 201 87% 85%;
    --warning: 40 63% 21%;
    --warning-foreground: 49 87% 85%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 19% 35%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --gold: 40 79% 37%;
    --gold-secondary-text: 37 96% 61%;

    --scrollbar-bg: #0f172a;
    --scrollbar-color: #334155;
    --scrollbar-hover-color: #475569;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-color);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .loader {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(theme(colors.primary.DEFAULT) 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: animate 1s infinite linear;
  }

  @keyframes animate {
    0% {
      background-size: 20% 100%, 20% 100%, 20% 100%;
    }
    33% {
      background-size: 20% 10%, 20% 100%, 20% 100%;
    }
    50% {
      background-size: 20% 100%, 20% 10%, 20% 100%;
    }
    66% {
      background-size: 20% 100%, 20% 100%, 20% 10%;
    }
    100% {
      background-size: 20% 100%, 20% 100%, 20% 100%;
    }
  }

  .test > .relative > div:nth-child(1) {
    @apply bg-transparent border border-border;
  }
}
.highlight {
  color: blueviolet;
}
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
}
.event-card {
  display: inline-block;
  background-color: rgb(205, 173, 234);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
.event-form {
  padding: 10px;
  background-color: rgb(205, 173, 234);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: fit-content;
}
.event-form input {
  border-radius: 5px;
}
.event-form button {
  background-color: rgb(184, 148, 217);
  padding: 0;
  border-radius: 5px;
  margin-top: 5px;
}
/* .dot {
  position: relative;
}

.dot::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background-color: hsl(256, 34%, 48%);
  border-radius: 50%;
} */

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-cards {
  background-color: rgb(205, 173, 234);
  padding: 20px;
  border-radius: 8px;
  max-width: fit-content;
  margin-top: 10px;
}
